/* Reset */
*,
::after,
::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  /* Colors */
  --red: hsl(0, 78%, 62%);
  --cyan: hsl(180, 62%, 55%);
  --orange: hsl(34, 97%, 64%);
  --blue: hsl(212, 86%, 64%);
  --dark-blue: hsl(234, 12%, 34%);
  --grayish-blue: hsl(229, 6%, 66%);
  --light-gray: hsl(0, 0%, 98%);
  --white: hsl(0, 0%, 100%);
  /* Typography */
  --font-family: "Poppins", sans-serif;
  --fs: 15px;
  --fw-thin: 200;
  --fw-regular: 400;
  --fw-semibold: 600;
}
/* Globales */
body {
  font-family: var(--font-family);
  font-size: var(--fs);
  background-color: var(--light-gray);
  min-height: 100vh;
}
.container {
  display: grid;
  place-items: center;
  margin-top: 5rem;
}
.hero {
  display: flex;
  flex-direction: column;
  max-width: 33.75rem;
  text-align: center;
}
.hero__title {
  color: var(--grayish-blue);
  font-weight: var(--fw-regular);
  font-size: 2.25rem;
}
.hero__title--bold {
  color: var(--dark-blue);
  font-weight: var(--fw-semibold);
}
.hero__description {
  color: var(--grayish-blue);
  font-weight: var(--fw-regular);
  margin-top: 1.5rem;
}
.cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
  align-items: center;
  gap: 1.875rem;
  max-width: 69.375rem;
  padding-block: 4rem;
}
.card {
  display: flex;
  flex-direction: column;
  max-width: 21.875rem;
  gap: 1.25rem;
  background: var(--white);
  border-radius: 0.5rem;
  border: 0.0625rem solid rgba(255, 255, 255, 0.2);
  padding: 1.5rem 2rem 2rem 2rem;
  position: relative;
}
.card:nth-child(1) {
  /* Supervisor */
  grid-column: 1;
  grid-row: 1 / span 2;
}
.card:nth-child(2) {
  /* Team Builder */
  grid-column: 2;
  grid-row: 1;
}
.card:nth-child(3) {
  /* Karma */
  grid-column: 2;
  grid-row: 2;
}
.card:nth-child(4) {
  /* Calculator */
  grid-column: 3;
  grid-row: 1 / span 2;
}
.card::before {
  content: "";
  width: 100%;
  height: 0.3125rem;
  border-radius: 0.5rem 0.5rem 0 0;
  position: absolute;
  top: 0;
  left: 0;
  background-color: var(--card-color, var(--grayish-blue));
}
.card__title {
  font-weight: var(--fw-semibold);
  font-size: 1.25rem;
  color: var(--dark-blue);
  line-height: 1.875rem;
}
.card__description {
  color: var(--grayish-blue);
  font-size: 0.8125rem;
  line-height: 1.4375rem;
}
.card__image {
  align-self: flex-end;
}
.attribution {
  font-size: 12px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}
/* Responsive */
@media (max-width: 768px) {
  .container {
    margin: 5rem 1rem;
  }
  .hero__title {
    font-size: 1.5rem;
  }
  .cards {
    grid-template-columns: 1fr;
  }
  .card {
    grid-column: auto !important;
    grid-row: auto !important;
  }
}
